#filedump-uploadlist { padding: 12px;}
#filedump-uploadlist .description { text-align: center; font-size: 1.2em; }
#filedump-upload-controls { padding: 6px; background-color: #ccc; text-align: right; margin-bottom: 1em;}

#filedump-uploadlist .file-wrapper { margin: 2px; }

#upload-progress-wrapper { border: 1px solid #ccc; height:10px; padding: 3px; display: inline-block; vertical-align: middle; display: none; }
#upload-progress {
	background-color: lightgreen;
	height: 100%;
	width:100%;
}
#edit-upload { margin: 0px; display: inline-block; vertical-align: middle; margin-right: 10px;}
