.file-wrapper {
  vertical-align: top;
  display: inline-block;
  border-radius: 3px;
  background-color: #eaeceb;
  margin-bottom: 5px;
  width: 100px;
  height: 140px;
  padding: 10px;
}

.file-preview {
  text-align: center;
}

.file-preview img {
	image-rendering: optimizeSpeed;
	-ms-interpolation-mode: bicubic;
}

.file-name {
  text-align: center;
  font-size: 0.8em;
  padding: 3px;
  overflow: hidden;
  height: 1.5em;
  line-height: 1.5em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  white-space: nowrap;
}

.file-name input { float: left; margin-right: 10px; }
.file-name label { font-weight: normal;}
.file-info li { list-style: none; font-size: 0.8em; }