.form-item-action { display: inline-block; }

#file-view { float: right; }
.form-slides {
  border: none;
  background: transparent url(../images/slides.png);
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.form-list {
  border: none;
  background: transparent url(../images/list.png);
  width: 24px;
  height: 24px;
}

.form-checkall {
  border: none;
  background: transparent url(../images/checkall.png);
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
